<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<div class="container">
    <div class="row mb-4 mt-3">
        <div class="col-lg-4 col-xs-12 text-left">
            <input type="text" class="form-control searchbar" [(ngModel)]="searchText" placeholder="Search..." (keyup)="searchByKey($event)">
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12  p-0  text-right ">
            <input placeholder="Select a range..." class="form-control searchbar" [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" [max]="max" [readonly]="true" (ngModelChange)="getPromoCodeByRange()">
            <button type="button" class="btn remove-time" (click)="clearValue()">
        <i class="fa fa-times mr-2" aria-hidden="true"></i>
      </button>

            <owl-date-time #dtRange1></owl-date-time>
        </div>
        <div class="col-lg-4">
            <select name="serviceAddress " id="serviceAddress " [(ngModel)]="selectedPromo" (change)="onSelectPromoCode($event.target.value)" class="form-control select-font">
                <option value="">--Select plan--</option>
                <option
                class="option-font"
                [value]="item.id"
                *ngFor="let item of promoCodesList; let i = index"
                    >
                    {{ item.planId }}
                  </option>
                </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="table-responsive">
                <table class="table table-fixed">
                    <thead>
                        <th id="promo" class="arrow-down" (click)="sortingValue[0]=!sortingValue[0];sorting('promo',sortingValue[0]); addClass($event)">Promo Code Name</th>
                        <th id="from" class="arrow-down" (click)="sortingValue[1]=!sortingValue[1];sorting('from',sortingValue[1]); addClass($event)">Valid From</th>
                        <th id="to" class="arrow-down" (click)="sortingValue[2]=!sortingValue[2];sorting('to',sortingValue[2]); addClass($event)">Valid To</th>
                        <th>No Limit</th>
                        <th id="noOfUser" class="arrow-down" (click)="sortingValue[4]=!sortingValue[4];sorting('noOfUser',sortingValue[4]); addClass($event)">Number of Uses</th>
                        <th class="text-center">Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let promoData of promoCodeData; let i=index;">
                            <td class="pt-3 pb-2">{{promoData.promoCode}}</td>
                            <td class="pt-2 pb-2">{{promoData.dateFrom}}</td>
                            <td class="pt-2 pb-2">{{promoData.dateTo}}</td>
                            <td class="pt-2 pb-2">{{promoData.infinity}}</td>
                            <td class="pt-2 pb-2">{{promoData.noOfUsers}}</td>
                            <td class="text-center pt-2 pb-3"><i class="fas fa-pencil-alt mr-5" aria-hidden="true" (click)="edit(promoData.id)"></i>
                                <i class="fa fa-trash text-danger" aria-hidden="true" (click)="delete(promoData.id)"></i></td>
                        </tr>
                    </tbody>
                </table>
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
            </div>
        </div>
    </div>
</div>