<app-dots-loader *ngIf="isLoader"></app-dots-loader>

<div class="container">
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#addPlan" role="tab" aria-controls="nav-home" aria-selected="true">Add Plan</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#addMessage" role="tab" aria-controls="nav-profile" aria-selected="false">Add Message</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="addPlan" role="tabpanel" aria-labelledby="nav-home-tab">
                           
                            <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
                                <div class="container p-5">
                                    
                                    <div class="row mt-3">
                                        <div class="form-group col-lg-5 offset-lg-1 col-md-6 col-sm-12">
                                            <label class="form-control-label" for="planName">Plan Name</label>
                                            <input name="planName" 
                                            id="planName" 
                                            class="form-control" 
                                            [class.is-invalid]="planName.invalid && (planName.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.planName" 
                                            #planName="ngModel" />                 
                                        </div>
                                        <div class="form-group col-lg-5 col-md-6 col-sm-12">
                                            <label class="form-control-label" for="planId">Plan Code</label>
                                            <input name="planId" id="planId" class="form-control" 
                                            [class.is-invalid]="planId.invalid && (planId.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.planId" #planId="ngModel" />                   
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-5 col-md-6 offset-lg-1 col-sm-12">
                                            <label class="form-control-label" for="cleanEnergy">Clean Energy</label>
                                            <div class="input-group">
                                            <input name="cleanEnergy" id="cleanEnergy" class="form-control" 
                                            [class.is-invalid]="cleanEnergy.invalid && (cleanEnergy.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.cleanEnergy" #cleanEnergy="ngModel" />  
                                            <div class="input-group-append">
                                                <span class="input-group-text">%</span>
                                            </div>  
                                            </div>             
                                        </div>
                                        <div class="form-group col-lg-5 col-md-6 col-sm-12">
                                            <label class="form-control-label" for="discount">Discount</label>
                                            <div class="input-group">
                                            <input name="discount" id="discount" class="form-control" 
                                            [class.is-invalid]="discount.invalid && (discount.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.discount" #discount="ngModel" />    
                                            <div class="input-group-append">
                                                <div class="input-group-text">%</div>
                                            </div>
                                            
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="form-group col-lg-5 col-md-6 offset-lg-1 col-sm-12">
                                            <label class="form-control-label" for="beforeGst">Rate (Before GST)</label>
                                           
                                            <input name="beforeGst" id="beforeGst" class="form-control" 
                                            [class.is-invalid]="beforeGst.invalid && (beforeGst.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.beforeGst" #beforeGst="ngModel" />  
                                          
                                            
                                            
                                            
                                        </div>
                                        <div class="form-group col-lg-5 col-md-6 col-sm-12">
                                            <label class="form-control-label" for="afterGst">Rate (After GST)</label>
                                         
                                            <input name="afterGst" id="afterGst" class="form-control" 
                                            [class.is-invalid]="afterGst.invalid && (afterGst.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.afterGst" #afterGst="ngModel" />          
                                                                                  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-5 offset-lg-1 col-md-6 col-sm-12">
                                            <label class="form-control-label" for="planRate">Price Plan Rate Change</label>
                                            <input name="planRate" id="planRate" class="form-control" 
                                            [class.is-invalid]="planRate.invalid && (planRate.touched || form.submitted)" 
                                            required 
                                            [(ngModel)]="model.planRate" #planRate="ngModel" />                 
                                        </div>
                                        <div class="form-group col-lg-5 col-md-6 col-xs-12">
                                            <label class="form-control-label" for="factSheet">Upload Fact Sheet</label>
                                            <input type="text" name="factSheet" class="form-control fileUpload" 
                                            [(ngModel)]="myfile" 
                                            [value]="uploaded" 
                                            disabled required 
                                            #myfile1="ngModel">
                                            <div class="upload-btn-wrapper">
                                                <label class="btnUpload" for="file">Upload</label>
                                                <input type="file" id="file" name="myfile" accept="application/pdf" (change)="onFileSelected($event)" />
                                            </div>
                                            <ng-container class="valid-feedback" *ngIf="uploadSuccess">
                                                <span style="font-style: italic; color: green; float: left">Uploaded Successfully</span>
                                            </ng-container>
                                        </div>
                                    </div>
                                    <div class="col-12 pt-4 pb-4">
                                        <button class="btn step-next mx-auto" type="submit">
                                            <span>Add</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="addMessage" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <form>
                                <div class="container">
                              
                                 <div class="form-group row col-lg-6 offset-lg-3 col-xs-12 mt-4">
                            <label for="comment"><strong>Message:</strong></label>
                            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="msgModal.message" name="message" ></textarea>
                            <button class="btn btn-success mt-3" (click)="addMessage()">Add</button>
                            <button class="btn btn-danger mt-3 ml-3" (click)="deleteMessage()">Delete</button>
                          </div>
                             </div>
                            </form>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    </div>





