  <!-- <div class="container"> -->
    <app-dots-loader *ngIf="isLoader"></app-dots-loader>
    <div class="row mb-4 mt-4">
      <div class="col-lg-4 text-left">
          <input type="text" class="form-control searchbar"  trim="blur" placeholder="Search..." (keyup)="searchCustomer($event)">
      </div>
      <div class="col-lg-5  p-0  text-right ">
          <input placeholder="Select a range..." 
          class="form-control searchbar" 
          [(ngModel)]="dateTimeRange" 
          [selectMode]="'range'" 
          [owlDateTimeTrigger]="dtRange1" 
          [owlDateTime]="dtRange1" 
          [max]="max"
          (ngModelChange)="getSuccessfulSignUp()">
          <div *ngIf="!isDateTimeSelected">
                <button type="button" class="btn remove-time" (click)="clearValue()">
                      <i class="fa fa-times mr-2" aria-hidden="true"></i>
                </button>  
            </div>
          <owl-date-time #dtRange1></owl-date-time>         
      </div>
      <div class="col-lg-3 csv-div  mt-2 text-right">
          <angular2csv [data]="csvDataSuccess" type="button" class="download" filename="SuccessfulSignup.csv" [options]="options">Download</angular2csv>
      </div>
  </div>
  <div class="row m-0 pl-0 pr-0">
      <div class="col-lg-12 col-md-12 col-sm-12 pl-0 pr-0">
          <div class="table-responsive table-responsive-md table-responsive-lg table-responsive-sm">
          <table class="table table-striped">
              <thead>
                  <th (click)="sorting('firstName')">First Name</th>
                  <th (click)="sorting('lastName')">Last Name</th>
                  <th (click)="sorting('email')">Email</th>
                  <th (click)="sorting('planName')">Plan Name</th>
                  <th (click)="sorting('spAccount')">SP Number</th>
                  <th (click)="sorting('promoCode')">Promo Code</th>
                  <th (click)="sorting('address')">Address</th>
                  <th (click)="sorting('initial')"> Initial Timestamp</th>
                  <th (click)="sorting('final')">Final Timestamp</th>
              </thead>
              <tbody>
                  <tr *ngFor="let customerList of successData ; let i=index;">
                      <td>{{customerList.fullName}}</td>
                      <td>{{customerList.lastName}}</td>   
                      <td>{{customerList.eamilAddress}}</td>
                      <td>{{customerList.plan}}</td>
                      <td>{{customerList.spAccountNumber}}</td>
                      <td>{{customerList.promoCode}}</td>
                      <td>{{customerList.houseNumber}} &nbsp;
                        {{customerList.buildingName}} &nbsp; {{customerList.streetName}} &nbsp;
                        {{customerList.postelCode}}
                    </td>
                      <td>{{customerList.sighnUpStarTimeStamp}}</td>
                      <td>{{customerList.sighnUpEndTimeStamp}}</td>
                  </tr>
              </tbody>

          </table>
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
        </div>
          
    </div>
  </div>
 