<!-- <div class="container"> -->
<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<div class="container-fluid contentsuccess">
    <div class="row mb-3 mt-3">
        <div class="col-lg-4 col-md-4 col-sm-12 text-left">
            <input type="text" class="form-control searchbar" [(ngModel)]="searchText" trim="blur" placeholder="Search..." (keyup)="searchCustomer($event)">
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12  p-0  text-right ">
            <input placeholder="Select a range..." class="form-control searchbar" [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" [max]="max" hour12Timer [readonly]="true" (ngModelChange)="getSuccessfulSignUp()">
            <button type="button" class="btn remove-time" (click)="clearValue()">
        <i class="fa fa-times mr-2" aria-hidden="true"></i>
      </button>

            <owl-date-time #dtRange1></owl-date-time>
        </div>
        <div class="col-lg-3 col-md-3 csv-div  mt-2 text-right">
            <angular2csv [data]="csvDataSuccess" type="button" class="download" filename="SuccessfulSignup.csv" [options]="options">Download</angular2csv>
        </div>
    </div>
    <div class="row m-0 pl-0 pr-0">
        <div class="col-lg-12 col-md-12  pl-0 pr-0">
            <div class="table-responsive">
                <table class="table table-striped" style="width: 3000px;">
                    <thead>
                        <th  id="first" class="arrow-down" (click)="sortingValue[0]=!sortingValue[0];sorting('firstName',sortingValue[0]); addClass($event)">
                            <span style="width: 5% !important;display: block;">First Name</span>
                        </th>
                        <th style="width: 5% !important;" id="last" class="arrow-down" (click)="sortingValue[1]=!sortingValue[1];sorting('lastName',sortingValue[1]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Last Name</span>
                        </th>
                        <th style="width: 5% !important;" id="email" class="arrow-down" (click)="sortingValue[2]=!sortingValue[2];sorting('email',sortingValue[2]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Email</span></th>
                        <th style="width: 5% !important;" id="mobile" class="arrow-down" (click)="sortingValue[3]=!sortingValue[3];sorting('mobile',sortingValue[3]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Mobile</span></th>
                        <th style="width: 5% !important;" id="spNumber" class="arrow-down" (click)="sortingValue[4]=!sortingValue[4];sorting('spAccount',sortingValue[4]); addClass($event)">
                            <span style="width: 5% !important;display: block;">SP Number</span>
                        </th>
                        <th style="width: 5% !important;" id="building" class="arrow-down" (click)="sortingValue[5]=!sortingValue[5];sorting('building',sortingValue[5]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Building Name</span></th>
                        <th style="width: 5% !important;" id="houseNo" class="arrow-down" (click)="sortingValue[6]=!sortingValue[6];sorting('houseNo',sortingValue[6]); addClass($event)">
                            <span style="width: 5% !important;display: block;">House No</span></th>
                        <th style="width: 5% !important;" id="level" class="arrow-down" (click)="sortingValue[7]=!sortingValue[7];sorting('level',sortingValue[7]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Level</span></th>
                        <th style="width: 5% !important;" id="unit" class="arrow-down" (click)="sortingValue[8]=!sortingValue[8];sorting('unit',sortingValue[8]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Unit</span></th>
                        <!-- <th id="level" class="arrow-down" (click)="sortingValue[9]=!sortingValue[9];sorting('level',sortingValue[9]); addClass($event)">Level</th> -->
                        <th style="width: 5% !important;" id="street" class="arrow-down" (click)="sortingValue[10]=!sortingValue[10];sorting('street',sortingValue[10]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Street</span></th>
                        <th style="width: 5% !important;" id="postal" class="arrow-down" (click)="sortingValue[11]=!sortingValue[11];sorting('postal',sortingValue[11]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Postal Code</span></th>
                        <th style="width: 5% !important;" id="dwelling" class="arrow-down" (click)="sortingValue[12]=!sortingValue[12];sorting('dwelling',sortingValue[12]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Dwelling Type</span></th>
                        <th style="width: 5% !important;" id="plan" class="arrow-down" (click)="sortingValue[13]=!sortingValue[13];sorting('planName',sortingValue[13]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Plan Name</span></th>
                        <th style="width: 5% !important;" id="signup" class="arrow-down" (click)="sortingValue[14]=!sortingValue[14];sorting('signup',sortingValue[14]); addClass($event)">
                            <span style="width: 5% !important;display: block;">SignUp Date</span></th>
                        <th style="width: 5% !important;" id="etc" class="arrow-down" (click)="sortingValue[15]=!sortingValue[15];sorting('etc',sortingValue[15]); addClass($event)">
                            <span style="width: 5% !important;display: block;">ETC</span></th>
                        <th style="width: 5% !important;" id="promo" class="arrow-down" (click)="sortingValue[16]=!sortingValue[16];sorting('promo',sortingValue[16]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Promo Code</span></th>
                        <th style="width: 5% !important;" id="contractTerm" class="arrow-down" (click)="sortingValue[17]=!sortingValue[17];sorting('constractTerm',sortingValue[17]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Contract Term</span></th>
                        <!-- <th id="plandot" class="arrow-down" (click)="sortingValue[18]=!sortingValue[18];sorting('planName',sortingValue[18]); addClass($event)">Plan DOT</th> -->
                        <th style="width: 5% !important;" id="approvedate" class="arrow-down" (click)="sortingValue[19]=!sortingValue[19];sorting('planName',sortingValue[19]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Approve date</span></th>
                        <th style="width: 5% !important;" id="contractprice" class="arrow-down" (click)="sortingValue[20]=!sortingValue[20];sorting('planName',sortingValue[20]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Contract Price</span></th>
                        <th style="width: 5% !important;" id="behalf" class="arrow-down" (click)="sortingValue[21]=!sortingValue[21];sorting('planName',sortingValue[21]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Account Holder</span></th>
                        <th style="width: 5% !important;" id="marketing" class="arrow-down" (click)="sortingValue[22]=!sortingValue[22];sorting('planName',sortingValue[22]); addClass($event)">
                            <span style="width: 5% !important;display: block;">Marketing</span></th>

                        <!-- <th id="firs" class="arrow-down" (click)="sortingValue[0]=!sortingValue[0];sorting('firstName',sortingValue[0]); addClass($event)">First Name
                        </th>
                        <th id="last" class="arrow-down" (click)="sortingValue[1]=!sortingValue[1];sorting('lastName',sortingValue[1]); addClass($event)">Last Name
                        </th>
                        <th id="email" class="arrow-down" (click)="sortingValue[2]=!sortingValue[2];sorting('email',sortingValue[2]); addClass($event)">Email</th>
                        <th id="plan" class="arrow-down" (click)="sortingValue[3]=!sortingValue[3];sorting('planName',sortingValue[3]); addClass($event)">Plan Name
                        </th>
                        <th id="spNumber" class="arrow-down" (click)="sortingValue[4]=!sortingValue[4];sorting('spAccount',sortingValue[4]); addClass($event)">SP Number
                        </th>
                        <th id="promocode" class="arrow-down" (click)="sortingValue[5]=!sortingValue[5];sorting('promoCode',sortingValue[5]); addClass($event)">Promo Code
                        </th>
                        <th id="address" class="arrow-down" (click)="sortingValue[6]=!sortingValue[6];sorting('address',sortingValue[6]); addClass($event)">Address
                        </th>
                        <th id="initialTime" class="arrow-down" (click)="sortingValue[7]=!sortingValue[7];sorting('initial',sortingValue[7]); addClass($event)"> Initial Timestamp
                        </th>
                        <th id="finalTime" class="arrow-down" (click)="sortingValue[8]=!sortingValue[8];sorting('final',sortingValue[8]); addClass($event)">Final Timestamp
                        </th> -->

                    </thead>
                    <tbody>
                        <tr *ngFor="let customerList of successData ; let i=index;">
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.fullName}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.lastName}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.eamilAddress}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.mobileNumber}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.spAccountNumber}}</span></td>
                            <td style="width: 4% !important;">
                                <span style="width: 4% !important;display: block;">{{customerList.buildingName}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 3% !important;display: block;">{{customerList.houseNo}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.level}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.unit}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.streetName}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.postelCode}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.dwelingType}}</span></td>
                            <td style="width: 8% !important;">
                                <span style="width: 8% !important;display: block;">{{customerList.plan}}</span></td>
                            <!-- <td>{{customerList.sighnUpStarTimeStamp}}</td> -->
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.sighnUpEndTimeStamp}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">${{ ETC_FEE_OPTIONS[customerList.dwelingType] }}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.promoCode}}</span></td>
                            <td style="width: 5% !important;">
                            <span style="width: 5% !important;display: block;"></span></td>
                            <!-- <td></td> -->
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.approvedTime}}</span></td>
                            <td style="width: 5% !important;">
                                <span style="width: 5% !important;display: block;">{{customerList.planDetails.rate}}</span></td>
                            <td style="width: 2% !important;">
                                <span style="width: 2% !important;display: block;">{{customerList.selfSignup == null ? 'Self SignUp' : customerList.selfSignup }}</span></td>
                            <td style="width: 2% !important;">
                                <span style="width: 2% !important;display: block;">{{customerList.contentToMarketing == true ? 'Yes' :(customerList.contentToMarketing == false) ? 'No':''}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
            </div>

        </div>
    </div>
</div>