<header id="header" class="col-xs-12 pt-3 pb-3">
    <div class="content-header">
        <div class="row">
            <a class="col-xs-8" href="https://www.sunseap.com/residential/electricity-plans/">
                <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
            </a>
            <button class="btn btn-admin ml-auto pt-2 col-xs-2" (click)="home()">Home</button>
            <a class="h5 ml-1 pt-3 col-xs-2" href="https://www.sunseap.com/contact/enquiries/" target="blank">Contact</a>
        </div>
    </div>
</header>
<div class="bg-img">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-12">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate autocomplete="off">
                    <div class="logindiv">

                        <div class="row">
                            <div class="form-group  col-lg-7 offset-lg-3">
                                <!-- <label class="form-control-label" for="userId">Username</label> -->
                                <input type="text" placeholder="Enter Yout Email ID" name="userId" class="form-control login-form" [(ngModel)]="model.userId" #userId="ngModel" [class.is-invalid]="userId.invalid && (userId.touched || form.submitted)" blockCopyPaste required>
                                <div *ngIf="userId.invalid && (userId.touched || form.submitted)" class="invalid-feedback">
                                    <div *ngIf="userId?.errors.required">
                                        <i>Username is required</i>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class=" col-lg-3 offset-lg-3">
                                <!-- <button type="button" (click)="requestEmailOtp()">Get OTP</button> -->
                            </div>
                            <div class="col-lg-3">
                                <!-- <button type="button" class=""  (click)="generateMobileOtp()"><span>Resend OTP</span></button> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-7 offset-lg-3">
                                <!-- <label class="form-control-label" for="otp">OTP</label> -->
                                <input type="text" name="otp" placeholder="OTP" class="form-control login-form" [(ngModel)]="model.otp" #otp="ngModel" [class.is-invalid]="otp.invalid &&  form.submitted" numbersOnly maxlength="6" required>
                                <button type="button" class="emailverifyOTP" (click)="requestEmailOtp()">Get OTP</button>
                                <div *ngIf="otp.invalid &&  form.submitted" class="invalid-feedback">
                                    <div *ngIf="otp?.errors.required">
                                        <i>OTP is required</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn step-next mx-auto">
                                <span>Submit</span> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>