<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-lg-6 text-left">
            <input placeholder="Select a range..." class="form-control searchbar" [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1" [max]="max" [readonly]="true" (ngModelChange)="getAbandonedSignUp()">

            <button type="button" class="btn remove-time" (click)="clearValue()">
                      <i class="fa fa-times mr-2" aria-hidden="true"></i>
                </button>


            <owl-date-time #dtRange1></owl-date-time>
        </div>
        <div class="col-lg-6 csv-div  mt-2 text-right">
            <angular2csv [data]="csvData" type="button" class="download" filename="AbandonedData.csv" [options]="options">Download</angular2csv>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Plan Detail</th>
                        <th>Personal Detail</th>
                        <th>Address</th>
                        <th>Upload Document</th>
                        <th>Review Order</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let abandonedList of abandonedData | grdFilter: {plan_Details: searchTextAbandoned}; let i=index">
                            <td class="pb-2">{{ abandonedList.planDetails }}</td>
                            <td class="pt-2 pb-2">{{ abandonedList.personal_Details }}</td>
                            <td class="pt-2 pb-2">{{ abandonedList.address_Details }}</td>
                            <td class="pt-2 pb-2">{{ abandonedList.upload_Documents }}</td>
                            <td class="pt-2 pb-3">{{ abandonedList.review_order }}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
            </div>
        </div>
    </div>
</div>