<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<div class=" m-0 p-0">
    <div class="row mb-4 mt-4">
        <div class="col-lg-6 text-left">       
            <input placeholder="Select a range..." 
            class="form-control searchbar" 
            [(ngModel)]="dateTimeRange" 
            [selectMode]="'range'" 
            [owlDateTimeTrigger]="dtRange1" 
            [owlDateTime]="dtRange1" 
            [max]="max"
            (ngModelChange)="getAbandonedSignUp()">
            <div *ngIf="!isDateTimeSelected">
                <button type="button" class="btn remove-time" (click)="clearValue()">
                      <i class="fa fa-times mr-2" aria-hidden="true"></i>
                </button>
  
            </div>
            <owl-date-time #dtRange1></owl-date-time>
        </div>
        <div class="col-lg-6 csv-div  mt-2 text-right">
            <angular2csv [data]="csvData" type="button" class="download" filename="AbandonedData.csv" [options]="options">Download</angular2csv>
        </div>
    </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="table-responsive">
          <table class="table table-striped">
              <thead>                
                  <th>Plan Detail</th>
                  <th>Personal Detail</th>
                  <th>Address</th>
                  <th>Upload Document</th>
                  <th>Review Order</th>
              </thead>
              <tbody>
                <tr *ngFor="let abandonedList of abandonedData | grdFilter: {plan_Details: searchTextAbandoned}; let i=index">
                  <td class="pl-0 pr-0">{{ abandonedList.planDetails }}</td>
                  <td  class="pl-0 pr-0">{{ abandonedList.personal_Details }}</td>
                  <td class="pl-0 pr-0">{{ abandonedList.address_Details }}</td>
                  <td class="pl-0 pr-0">{{ abandonedList.upload_Documents }}</td>
                  <td class="pl-0 pr-0">{{ abandonedList.review_order }}</td>
                </tr>
              </tbody>
          </table>
          <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
        </div>
      </div>
  </div>
</div>