<div class="container">
<section id="tabs" class="project-tab">
    <div class="container">
        <div class="row m-0">
            <div class="col-lg-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#successfulsignup" role="tab" aria-controls="nav-home" aria-selected="true">Successful Sign-Up</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#abandonedsignup" role="tab" aria-controls="nav-profile" aria-selected="false">Abandoned Sign-Up</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="successfulsignup" role="tabpanel" aria-labelledby="nav-home-tab">
                      <app-successfull-signup></app-successfull-signup>
                    </div>
                    <div class="tab-pane fade" id="abandonedsignup" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <app-abandoned-signup></app-abandoned-signup>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>
</div>