<header id="header" class="col-xs-12 pt-3 pb-3">
    <div class="content-header">
        <div class="row">
            <a class="col-xs-8" href="https://www.sunseap.com/residential/electricity-plans/">
                <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
            </a>
            <button class="btn btn-admin ml-auto pt-2 col-xs-2" (click)="home()">Home</button>
            <a class="h5 ml-1 pt-3 col-xs-2" href="https://www.sunseap.com/contact/enquiries/" target="blank">Contact</a>
        </div>
    </div>
</header>
<div class="bg-img">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-12">

                <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate autocomplete="off">
                    <div class="logindiv">

                        <!-- <div class="row">
                            <div class="form-group  col-lg-7 offset-lg-2">
                                <label class="form-control-label" for="userId">Username</label>
                                <input type="text" name="userId" class="form-control" [(ngModel)]="model.userId" #userId="ngModel" [class.is-invalid]="userId.invalid && (userId.touched || form.submitted)" blockCopyPaste required>
                                <div *ngIf="userId.invalid && (userId.touched || form.submitted)" class="invalid-feedback">
                                    <div *ngIf="userId?.errors.required">
                                        <i>Username is required</i>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="form-group col-lg-7 offset-lg-2">
                                <label class="form-control-label" for="password">Password</label>
                                <input type="password" name="password" class="form-control login-form" [(ngModel)]="model.password" #password="ngModel" [class.is-invalid]="password.invalid && (password.touched || form.submitted)" blockCopyPaste required>
                                <div *ngIf="password.invalid && (password.touched || form.submitted)" class="invalid-feedback">
                                    <div *ngIf="password?.errors.required">
                                        <i>Password is required</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-7 offset-lg-2">
                                <label class="form-control-label" for="confirmPassword">Confirm Password</label>
                                <input type="password" name="confirmPassword" class="form-control login-form" [class.is-invalid]="!isPasswordConfirmed() && (confirmPassword.touched || form.submitted)" [(ngModel)]="model.confirmPassword" #confirm_password="ngModel" blockCopyPaste>
                                <div *ngIf="!isPasswordConfirmed() && (confirmPassword.touched || form.submitted)" class="invalid-feedback">
                                    <i>Your password does not match</i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button class="btn step-next mx-auto">
                                <span>Submit</span> </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>