.content {
    display: block;
    margin-top: 110px;
    // padding: 10px;
    // background-color: #909090;
    padding: 10px;
    background-color: #fff;
    margin-top: 18px;
    margin-left: 41px;
    height: 100%;
    position: relative;
    top: 130px;
    margin-right: 20px;
}

.row {
    margin: 0;
}

.bg_img {
    background-color: rgba(180, 210, 228, 0.356);
    // background-image: url('/assets/sign-up/images/background/BG.png');
    // width: 100vh;
    height: 100%;
    position: fixed;
    z-index: -17;
    width: 100%;
}

header#header div.content-header {
    padding-left: 0%;
    padding-right: 5%;
}

.btn-admin {
    float: right;
}