.approve {
    display: block;
    width: 100px;
    box-sizing: border-box;
    background-color: #d2232a;
    color: #ffffff !important;
    font-family: Lato-Regular;
    border-radius: 4px;
    text-align: center;
    padding: 0;
    height: 30px;
    position: relative;
    z-index: 111;
}

.model-cst {
    box-shadow: none;
    border: none;
    overflow: auto;
    height: 100%;
}

.modal.slideInRight {
    animation-duration: 0.5s;
    animation-name: slideInRight;
}

.left .modal-dialog,
.right .modal-dialog {
    position: fixed;
    margin: auto;
    right: 0px;
    width: 30%;
    height: 100%;
    // overflow: auto;
    background-color: #ffffff;
}

.text-decoration-none {
    text-decoration: none!important
}

@media (min-width: 576px) {
    .left .modal-dialog,
    .right .modal-dialog {
        position: fixed;
        margin: auto;
        right: 0px;
        width: 60%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;
    }
}

@media (min-width: 320px) {
    .left .modal-dialog,
    .right .modal-dialog {
        position: fixed;
        margin: auto;
        right: 0px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;
    }
}

.lc-title {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.1em !important;
    font-weight: 600 !important;
    line-height: 18px !important;
    color: #000 !important;
    text-align: center;
}

.form-content-approve {
    padding: 20px 15px;
    background-color: #f6f6f6;
}

.btn-approve {
    position: fixed;
    bottom: 0px;
    /* text-align: center; */
    /* justify-content: center; */
    margin: 0 auto;
    margin-left: 170px;
}

.primary {
    color: red;
}

.secondary {
    color: green;
}

.btn-up-down-load {
    padding: 0px;
    border: none;
    border-radius: 3px;
    background-color: #d2232a;
    margin-right: 15px;
}