<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<div class="container">

    <div class="row col-md-12 col-sm-12 mb-3 mt-3">
        <div class="col-lg-4 text-left">
            <input type="text" class="form-control searchbar" placeholder="Search..." trim="blur"
                [(ngModel)]="searchText" (keyup)="searchCustomer($event)">
        </div>
    </div>
    <div class="row m-0 pl-0 pr-0">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-fixed">
                    <thead>
                        <th id="name" class="arrow-down"
                            (click)="sortingValue[0]= !sortingValue[0];sorting('name',sortingValue[0]); addClass($event)">
                            Name</th>
                        <th id="spAccount" class="arrow-down"
                            (click)="sortingValue[1]= !sortingValue[1];sorting('spAccount',sortingValue[1]); addClass($event)">
                            SP Account Number</th>
                        <th id="address" class="arrow-down"
                            (click)="sortingValue[2]= !sortingValue[2];sorting('address',sortingValue[2]); addClass($event)">
                            Address</th>
                        <th id="signedUp" class="arrow-down"
                            (click)="sortingValue[3]= !sortingValue[3];sorting('final',sortingValue[3]); addClass($event)">
                            Date of Sign Up</th>
                        <th style="width: 100px;" id="status" class="arrow-down"
                            (click)="sortingValue[4]= !sortingValue[4];sorting('status',sortingValue[4]); addClass($event)">
                            Status</th>
                        <th>Record</th>
                        <th>Marketing Agreement</th>

                    </thead>
                    <tbody>
                        <tr [ngClass]="customerList.duplicate == 'EXISTING_CUSTOMER' ? 'text-danger' : ''"
                            *ngFor="let customerList of approvalData | grdFilter: {fullName: searchTextSuccess, spAccountNumber:searchTextSuccess};  let i=index;"
                            (click)="editCustomer(customerList)" style="cursor: pointer;">
                            <td>{{customerList.fullName}}&nbsp;{{customerList.lastName}}</td>
                            <td>{{customerList.spAccountNumber}}</td>
                            <td class="text-left">{{customerList.houseNumber}}{{customerList.buildingName}} &nbsp;
                                {{customerList.streetName}} &nbsp;{{customerList.country}} {{customerList.postelCode}}
                            </td>
                            <td>{{customerList.sighnUpEndTimeStamp}}</td>
                            <td class="ml-5 text-center" style="width: 100px;" *ngIf="customerList.approved"><i
                                    class="fa fa-check" style="color:#3AC76A;" aria-hidden="true"></i></td>
                            <td class="ml-5 text-center" style="width: 100px;" *ngIf="!customerList.approved"><i
                                    class="fa fa-times" aria-hidden="true"></i>
                            </td>
                            <td>{{customerList.newUserMessage}}</td>
                            <td class="text-center">
                                {{customerList.contentToMarketing == true ? 'Yes' :(customerList.contentToMarketing == false) ? 'No':''}}
                            </td>


                        </tr>
                    </tbody>
                </table>
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"
                    [maxSize]="5"></pagination>
            </div>
        </div>
    </div>


    <div class="modal right slideInRight" id="customer" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="model-cst modal-content">
                <div id="accordion" class="accordion">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="row mt-5 accordian-head">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" href="#planDetail" role="button"
                                        aria-expanded="false" aria-controls="family">
                                        &nbsp; Plan Details
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="planDetail" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Plan name:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPlanFlag" class="input-group">
                                                    {{selectedPricingPlan}}
                                                </div>
                                                <div *ngIf="isPlanFlag">
                                                    <select name="productName" id="productName" class="form-control"
                                                        [class.is-invalid]="productName?.invalid && (productName?.touched || form.submitted)"
                                                        required [(ngModel)]="selectedPricingPlan"
                                                        (change)="selectPlans($event.target.value)"
                                                        #productName="ngModel">
                                                        <option value='' ng-selected="selected" disabled>Select your
                                                            plan
                                                        </option>
                                                        <option *ngFor="let item of planList" [value]="item.planName">
                                                            {{ item.planName }}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="productName?.invalid && (productName?.touched || form.submitted)"
                                                        class="invalid-feedback">
                                                        <div *ngIf="productName?.errors.required">
                                                            <i>Plan details is required</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1">
                                            <i *ngIf="!isPlanFlag" class="fas fa-pencil-alt"
                                                (click)="isPlanFlag = !isPlanFlag"></i>
                                            <i *ngIf="isPlanFlag" class="fa fa-check"
                                                (click)="isPlanFlag = !isPlanFlag"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">SP account No:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!spFlag" class="input-group">
                                                    {{serviceNo}}
                                                </div>
                                                <!-- (blur)="update($event.target.value)" -->
                                                <div [hidden]="!spFlag">
                                                    <input class="form-control" type="text" name="serviceNumber"
                                                        maxlength="10" (keypress)="keyPress($event)"
                                                        pattern="(^[1-9]\d{9})|(^[1-9]{9}[-])$" required
                                                        [class.is-invalid]="serviceError?.invalid && (serviceError?.touched || form.submitted)"
                                                        [(ngModel)]="serviceNo" #serviceError="ngModel">
                                                    <div *ngIf="serviceError.invalid && (serviceError.touched || form.submitted)"
                                                        class="invalid-feedback">
                                                        <div *ngIf="serviceError?.errors.required">
                                                            <i>Your SP Account No. is required</i>
                                                        </div>
                                                        <div *ngIf="serviceError?.errors.pattern">
                                                            <i>Your SP Account No. is invalid</i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1">
                                            <i *ngIf="!spFlag" class="fas fa-pencil-alt" (click)="spFlag = !spFlag"></i>
                                            <i *ngIf="spFlag" class="fa fa-check" (click)="spFlag = !spFlag"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Promotion/Referral Code:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPromoCodeFlag" class="input-group">
                                                    {{promoCode}}
                                                </div>
                                                <div *ngIf="isPromoCodeFlag">
                                                    <input class="form-control" trim="blur" [(ngModel)]="promoCode"
                                                        name="promoCode" #referralCode="ngModel" />

                                                    <button type="button" class="btn input-button"
                                                        (click)="verifyPromotionCode(promoCode)">
                                                        <span>Verify</span>
                                                    </button>
                                                    <button type="button" (click)="delete()" class="btn varify-button">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </button>

                                                    <div *ngIf="duplicatePromoCode" class="text-danger"><i>Promo/
                                                            Referral
                                                            code
                                                            already exists.</i></div>
                                                    <div *ngIf="promotionMessage != '' && !duplicatePromoCode"
                                                        [ngClass]="{'green-text':promocodeStatus,'red-text':!promocodeStatus}">
                                                        <i>{{promotionMessage}}</i></div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-lg-1 col-sm-1">
                                            <i *ngIf="!isPromoCodeFlag" class="fas fa-pencil-alt"
                                                (click)="isPromoCodeFlag =! isPromoCodeFlag"></i>
                                            <i *ngIf="isPromoCodeFlag" class="fa fa-check"
                                                (click)="isPromoCodeFlag =! isPromoCodeFlag"></i>
                                        </div>
                                    </div>
                                    <!-- <div class="row mt-3">
                                    <div class="col-lg-4 col-sm-6">Promotion/Referral Code:</div>
                                    <div class="col-lg-7 col-sm-5 font-weight-bold">
                                        <div class="card-text-right p-0">
                                            <div *ngIf="!isPromoCodeFlag" class="input-group">
                                                <textarea rows="3" cols="30" [disabled]="'true'">
                                                {{promoCode}}
                                            </textarea>
                                            </div>
                                            <div *ngFor="let promo of promoCodeList; let i=index;trackBy:indexTracker">

                                                <input [name]="'referralCode'+i" *ngIf="isPromoCodeFlag" class="form-control" trim="blur" [(ngModel)]="promo.referralCode" #referralCode="ngModel" />

                                                <button *ngIf="isPromoCodeFlag" type="button" class="btn input-button" (click)="verifyPromotionCode(i)">
                                                <span>Verify</span>
                                            </button>
                                                <button type="button" (click)="delete(i)" *ngIf="i != '0' && isPromoCodeFlag" class="btn varify-button">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                            </div>
                                            <button type="button" *ngIf="isPromoCodeFlag" class="btn btn-add" (click)="addPromoCode()"><b>Add
                                                more</b></button>
                                            <div *ngIf="duplicatePromoCode" class="text-danger"><i>Promo/ Referral code already exists.</i></div>
                                            <div *ngIf="promotionMessage != ''" [ngClass]="{'green-text':promocodeStatus,'red-text':!promocodeStatus}"><i>{{promotionMessage}}</i></div>
                                        </div>
                                    </div>


                                    <div class="col-lg-1 col-sm-1">
                                        <i *ngIf="!isPromoCodeFlag" class="fas fa-pencil-alt" (click)="editPromoCode(promoCode)"></i>
                                        <i *ngIf="isPromoCodeFlag" class="fa fa-check" (click)="editPromoCode('')"></i>
                                    </div>
                                </div> -->
                                </div>
                            </div>
                            <div class="row mt-3 accordian-head">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" href="#personalDetail"
                                        role="button" aria-expanded="false" aria-controls="family">
                                        &nbsp; Personal Details
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="personalDetail" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Full name:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{fullName}}&nbsp;{{lastName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Email:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{emailAddress}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Mobile:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{mobileNumber}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 accordian-head">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" href="#address" role="button"
                                        aria-expanded="false" aria-controls="family">
                                        &nbsp; Address
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="address" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Postal code:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{servicePostalCode}}
                                                </div>
                                                <div [hidden]="!isPostalFlag">
                                                    <input name="servicePostalCode" type="text" class="form-control"
                                                        (blur)="validatePostalCode($event.target.value)" maxlength="6"
                                                        [class.is-invalid]="servicePostalCoderef?.invalid && (servicePostalCoderef?.touched || form.submitted)"
                                                        required [(ngModel)]="servicePostalCode"
                                                        #servicePostalCoderef="ngModel" numbersOnly
                                                        [pattern]="config.validationRegex.postalCode" />
                                                    <div *ngIf="servicePostalCoderef?.invalid && (servicePostalCoderef?.touched || form.submitted)"
                                                        class="invalid-feedback">
                                                        <div *ngIf="servicePostalCoderef?.errors.required">
                                                            <i>Postal code is required</i>
                                                        </div>
                                                        <div
                                                            *ngIf="!servicePostalCoderef?.errors.required && servicePostalCoderef?.errors.pattern">
                                                            <i>Postal code is invalid</i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1">
                                            <i *ngIf="!isPostalFlag" class="fas fa-pencil-alt"
                                                (click)="isPostalFlag = !isPostalFlag"></i>
                                            <i *ngIf="isPostalFlag" class="fa fa-check"
                                                (click)="isPostalFlag = !isPostalFlag"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Block/House No.:</div>

                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{houseNo}}
                                                </div>
                                                <div [hidden]="!isPostalFlag">
                                                    <input name="houseNo" type="text" id="houseNo" class="form-control"
                                                        [class.is-invalid]="houseNoRef.invalid && (houseNoRef.touched || form.submitted)"
                                                        required [(ngModel)]="houseNo" #houseNoRef="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Level </div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{level}}
                                                </div>
                                                <div [hidden]="!isPostalFlag">
                                                    <input name="level" id="level" type="text" class="form-control"
                                                        [(ngModel)]="level" #levelRef="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Unit No.:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{unitNo}}
                                                </div>
                                                <div [hidden]="!isPostalFlag">
                                                    <input name="unitNo" type="text" class="form-control"
                                                        [(ngModel)]="unitNo" #unitNoRef="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Street name:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{streetName}}
                                                </div>

                                                <div [hidden]="!isPostalFlag">
                                                    <input name="streetName" type="text" id="streetName"
                                                        class="form-control"
                                                        [class.is-invalid]="streetName?.invalid && (streetName?.touched || form.submitted)"
                                                        required [(ngModel)]="streetName" #streetNameRef="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Building name:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div *ngIf="!isPostalFlag" class="input-group">
                                                    {{buildingName}}
                                                </div>

                                                <div [hidden]="!isPostalFlag">
                                                    <input name="buildingName" type="text" id="buildingName"
                                                        class="form-control" placeholder="(Optional)"
                                                        [(ngModel)]="buildingName" #buildingNameRef="ngModel"
                                                        #buildingNameRef="ngModel" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Dwelling type:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div *ngIf="!isDwellingFlag" class="input-group">
                                                {{dwellingType}}
                                            </div>
                                            <select name="dwellingType" id="dwellingType" *ngIf="isDwellingFlag"
                                                class="form-control select-font" required
                                                (change)="onSelectDwellingType($event.target.value)"
                                                [(ngModel)]="dwellingObj"
                                                [class.is-invalid]="dwellingTypeRef?.invalid && (dwellingTypeRef?.touched || form.submitted)"
                                                #dwellingTypeRef="ngModel">
                                                <option [value]="null" disabled>Select your dwelling type</option>
                                                <option class="option-font"
                                                    *ngFor="let option of DWELLING_TYPE_OPTIONS | toArray"
                                                    [value]="option.key">{{ option.value }}</option>

                                            </select>
                                            <div *ngIf="dwellingTypeRef?.invalid && (dwellingTypeRef?.touched || form.submitted)"
                                                class="invalid-feedback">
                                                <div *ngIf="dwellingTypeRef?.errors.required">
                                                    <i>Dwelling Type is required</i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 col-sm-1">
                                            <i *ngIf="!isDwellingFlag" class="fas fa-pencil-alt"
                                                (click)="isDwellingFlag = !isDwellingFlag; getDwellingType(dwellingType)"></i>
                                            <i *ngIf="isDwellingFlag" class="fa fa-check"
                                                (click)="updateDwelling()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 accordian-head">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" href="#upload-documents"
                                        role="button" aria-expanded="false" aria-controls="family">
                                        &nbsp; Uploaded Documents
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="upload-documents" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">SP past month bill:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(bill_fileName)">
                                                {{bill_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">New SP account opening letter:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(opening_letter_fileName)">
                                                {{opening_letter_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Letter of Authorisation:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(authorization_fileName)">
                                                {{authorization_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 accordian-head">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" href="#plan-type" role="button"
                                        aria-expanded="false" aria-controls="family">
                                        &nbsp; Plan Type
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="plan-type" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Clean Energy:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.energy}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Discount:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.discount}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Rate (Before GST):</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.rate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Rate (After GST):</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.afterGst}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Comments/Remarks:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.rateChange}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 col-xl-12">
                                    <a class="lc-title text-decoration-none ml-4" aria-expanded="false"
                                        aria-controls="family">
                                        &nbsp; Final Approval Date
                                    </a>
                                </div>
                                <div class="col-xs-12 col-md-6 form-group ml-3">&nbsp;
                                    <input class="form-control"
                                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red' }"
                                        [minDate]="lastApproveDate" bsDatepicker readOnly [(bsValue)]="approvalDate">
                                </div>

                            </div>
                            <div class="row mt-3">
                                <form #f=ngForm>
                                    <div class="col-md-12 col-xl-12">
                                        <a class="lc-title text-decoration-none ml-4" aria-expanded="false"
                                            aria-controls="family">
                                            &nbsp; Comments/Remarks
                                        </a>
                                        <div class="col-xs-12 col-md-6 form-group ml-3">&nbsp;
                                            <textarea rows="4" cols="30" name="remarks" [(ngModel)]="remarks">
                            </textarea>
                                            <button class="btn btn-success" type="submit"
                                                (click)="addRemark(f)">Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="row  mt-5 mb-5">
                                <div class="col-md-12 col-sm-12">
                                    <button class="btn step-next mx-auto">
                                        <span>Approve</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Approved Customer -->
    <div class="modal right slideInRight" id="approved" tabindex="-1" role="dialog" style="margin-right: 0px !;">
        <div class="modal-dialog">
            <div class="model-cst modal-content">
                <div id="accordion" class="accordion">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <form>
                            <div class="row mt-5">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" (click)="arrowChange(1)"
                                        href="#planDetail" role="button" aria-expanded="false" aria-controls="family">
                                        &nbsp; Plan Details
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="planDetail" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Plan name:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{selectedPricingPlan}}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">SP account No:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{serviceNo}}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Promotion/Referral Code:</div>
                                        <div class="col-lg-7 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{promoCode}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" (click)="arrowChange(2)"
                                        href="#personalDetail" role="button" aria-expanded="false"
                                        aria-controls="family">
                                        &nbsp; Personal Details
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="personalDetail" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Full name:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{fullName}}&nbsp;{{lastName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Email:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{emailAddress}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Mobile:</div>
                                        <div class="col-lg-8 col-sm-5 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{mobileNumber}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" (click)="arrowChange(3)"
                                        href="#address" role="button" aria-expanded="false" aria-controls="family">
                                        &nbsp; Address
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="address" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Postal code:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{servicePostalCode}}
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Block/House No.:</div>

                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{houseNo}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Level </div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{level}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Unit No.:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{unitNo}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Street name:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{streetName}}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Building name:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                <div class="input-group">
                                                    {{buildingName}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Dwelling type:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="input-group">
                                                {{dwellingType }}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" (click)="arrowChange(4)"
                                        href="#upload-documents" role="button" aria-expanded="false"
                                        aria-controls="family">
                                        &nbsp; Uploaded Documents
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="upload-documents" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">SP past month bill:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(bill_fileName)">
                                                {{bill_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">New SP account opening letter:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(opening_letter_fileName)">
                                                {{opening_letter_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Letter of Authorisation:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0 textunderline"
                                                (click)="getCustomerFile(authorization_fileName)">
                                                {{authorization_fileName}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12 col-xl-12">
                                    <a class="accordian-header" data-toggle="collapse" (click)="arrowChange(5)"
                                        href="#plan-type" role="button" aria-expanded="false" aria-controls="family">
                                        &nbsp; Plan Type
                                    </a>
                                </div>
                            </div>
                            <div class="collapse show mt-3" id="plan-type" parent="#accordion">
                                <div class="form-content-approve content-plan-detail">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">Clean Energy:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.energy}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Discount:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.discount}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Rate (Before GST):</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.rate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Rate (After GST):</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.afterGst}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-4 col-sm-6">Comments/Remarks:</div>
                                        <div class="col-lg-7 col-sm-6 font-weight-bold">
                                            <div class="card-text-right p-0">
                                                {{planType.rateChange}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-lg-4 col-sm-6">Approved Date:</div>
                                <div class="col-lg-7 col-sm-6 font-weight-bold">
                                    <div class="card-text-right p-0">
                                        {{lastApproveDate}}
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-lg-4 col-sm-6">Remark/Comments:</div>
                                <div class="col-lg-7 col-sm-6 font-weight-bold">
                                    <div class="card-text-right p-0">
                                        {{remarks}}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>