<div class="container">
  <div class="row mt-5">
    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"  
    id="recaptcha"   
    (reset)="handleReset()" (expire)="handleExpire()"
        (load)="handleLoad()" (success)="handleSuccess($event)" 
        [ngModelOptions]="{standalone: true}" 
        [size]="size"
        [hl]="lang" 
        [theme]="theme" 
        [type]="type" 
        [ngModel]="captcha" 
     data-type="image"
        #captchaerr="ngModel" required>
</ngx-recaptcha2>
  </div>

  <div class="row">{{captcha}}</div>
</div>