<div class="sidebar" id="menu-sidebar">
    <div id="accordion">
  <div class="row">

      <div class="col-md-12 col-xl-12 pl-0">
          <a class="menu-toggle" data-toggle="collapse" data-target="#plan" role="button"
          aria-expanded="true" aria-controls="family">
              &nbsp; <strong>PLAN DETAIL</strong></a>
      </div>
  </div>
  <div id="plan"  class="collapse" data-parent="#accordion">
      <a class="menus" [routerLinkActive]="['active']" routerLink="../admin-dash" [routerLinkActiveOptions]="{exact:
        true}"><i class="fa fa-plus"  ></i>&nbsp; Add Plan</a>
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
          true}" routerLink="../admin-dash/view-plan"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; View Plan</a>
  </div>

  <div class="row">
      <div class="col-md-12 col-xl-12 pl-0">
          <a class="menu-toggle" data-toggle="collapse" data-target="#promo" role="button" aria-controls="family">
            &nbsp; <strong>PROMO CODE</strong></a>
      </div>
  </div>
  <div id="promo"  class="collapse" data-parent="#accordion"> 
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
    true}" routerLink="../admin-dash/promo"><i class="fa fa-plus" aria-hidden="true" ></i>&nbsp; Add Promo Code</a>
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
      true}" routerLink="../admin-dash/view-promo"><i class="fa fa-eye" aria-hidden="true" ></i>&nbsp;View Promo Code</a>

  </div>
  <div class="row">
      <div class="col-md-12 col-xl-12 pl-0">
          <a class="menu-toggle" data-toggle="collapse" data-target="#audit" role="button" 
          aria-expanded="true" aria-controls="family">
       &nbsp; <strong>AUDIT LOG</strong></a>
      </div>
  </div>
  <div id="audit"  class="collapse" data-parent="#accordion">
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
true}" routerLink="../admin-dash/successful"><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp; Successful Sign-Up</a>
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
  true}" routerLink="../admin-dash/abandoned"><i class="fa fa-sign-in" aria-hidden="true" ></i>&nbsp; Abandoned Sign-Up</a>

  </div>

  <div class="row">
      <div class="col-md-12 col-xl-12 pl-0">
          <a class="menu-toggle" data-toggle="collapse" data-target="#approve" 
          role="button" aria-expanded="true" aria-controls="family">
       &nbsp; <strong>APPROVE CUSTOMER</strong></a>
      </div>
  </div>
  <div id="approve"  class="collapse show">
      <a class="menus" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
  true}" routerLink="../admin-dash/approve"><i class="fa fa-check" aria-hidden="true" ></i>&nbsp; Approve</a>
  </div>
  </div>

</div>