
      <div class="sidebar" id="menu-sidebar">
          <a class="menus" [routerLinkActive]="['active']" routerLink="../admin-dash"  [routerLinkActiveOptions]="{exact:
            true}">Add Plan</a>
          <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
            true}" routerLink= "../admin-dash/view-plan">View Plan</a>
          <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
            true}" routerLink= "../admin-dash/audit">Audit Log</a>
         
        </div>