
      <div class="sidebar" id="menu-sidebar">

        <div class="row">
          <div class="col-md-12 col-xl-12 p-0">
              <a class="lc-title text-decoration-none" data-toggle="collapse" (click)="arrowChange(1)"
                  href="#plan" role="button" aria-expanded="false" aria-controls="family">
                  <img id="close" src="/assets/sign-up/images/icons/angle-down.png" width="20px"
                      height="20px" [ngClass]="plan?'arrowright':'down'">&nbsp; <strong>PLAN DETAIL</strong></a>
          </div>
      </div> 
      <div class="collapse show mt-3" id="plan">
        <a class="menus" [routerLinkActive]="['active']" routerLink="../admin-dash"  [routerLinkActiveOptions]="{exact:
          true}"><i class="fa fa-plus" aria-hidden="true" ></i>&nbsp; Add Plan</a>
          <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
            true}" routerLink= "../admin-dash/view-plan"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; View Plan</a>
    </div>




    <div class="row">
      <div class="col-md-12 col-xl-12 p-0">
          <a class="lc-title text-decoration-none" data-toggle="collapse" (click)="arrowChange(2)"
              href="#promo" role="button" aria-expanded="false" aria-controls="family">
              <img id="close" src="/assets/sign-up/images/icons/angle-down.png" width="20px"
                  height="20px" [ngClass]="promo?'arrowright':'down'">&nbsp; <strong>PROMO CODE</strong></a>
      </div>
  </div> 
  <div class="collapse show mt-3" id="promo">
    <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
      true}" routerLink= "../admin-dash/promo"><i class="fa fa-plus" aria-hidden="true" ></i>&nbsp; Add Promo Code</a>
      <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
        true}" routerLink= "../admin-dash/view-promo"><i class="fa fa-eye" aria-hidden="true" ></i>&nbsp;View Promo Code</a>
   
    
</div>





<div class="row">
  <div class="col-md-12 col-xl-12 p-0">
      <a class="lc-title text-decoration-none" data-toggle="collapse" (click)="arrowChange(3)"
          href="#audit" role="button" aria-expanded="false" aria-controls="family">
          <img id="close" src="/assets/sign-up/images/icons/angle-down.png" width="20px"
              height="20px" [ngClass]="audit?'arrowright':'down'">&nbsp; <strong>AUDIT LOG</strong></a>
  </div>
</div> 
<div class="collapse show mt-3" id="audit">
<a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
  true}" routerLink= "../admin-dash/successful"><i class="fa fa-plus" aria-hidden="true" ></i>&nbsp; Successful Sign-Up</a>
  <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
    true}" routerLink= "../admin-dash/abandoned"><i class="fa fa-plus" aria-hidden="true" ></i>&nbsp; Abandoned Sign-Up</a>


</div>
           
          
        
            <a class="menus" [routerLinkActive]="['active']"  [routerLinkActiveOptions]="{exact:
              true}" routerLink= "../admin-dash/approve"><i class="fa fa-check" aria-hidden="true" ></i>&nbsp; Approve</a>    
        </div>