.sidebar {
    width: 210px;
    background-color: #ffffff;
    height: 100vh;   
    
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;font-size: 0.9rem;
    text-decoration: none;

  }
  
  .sidebar a:hover:not(.active) {
    background-color: #000;
    color: white;
    border-radius: 0 25px 25px 0;
    // transition: background 0.5s linear 0s, color 0.5s linear 0s;
    }
  a.active{
    background-color: #cb2b2b !important;
    color: white !important;
    border-radius: 0 25px 25px 0;
}

.menu-toggle[data-toggle].collapsed:after {
  content: "▾";
  float: right;
  padding-right: 10px;
}
.menu-toggle[data-toggle]:not(.collapsed):after {
  content: "▴";
  float: right;
  padding-right: 10px;
}


.lc-title {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 0.9em !important;
  font-weight: 600 !important;
  line-height: 18px !important;
  color: rgb(0, 0, 0) !important;
}

.lc-title:hover{
  background-color: #000 !important;
  color: white !important;
}



 
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: none;
  text-align: center;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

header#header div.content-header {
  padding-left: 0%;
  padding-right: 5%;
}

.btn-admin{
  float: right;
}

}

