<div class="container-fluid p-0">
  <header id="header" class="">
    <div class="content-header">
      <div class="m-0">
    
        <a class="col-xs-10" href="https://www.sunseap.com/residential/electricity-plans/">
          <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
        </a>
        <button class="btn btn-admin ml-0 pt-2 col-xs-2" (click)="logout()">Logout</button>  
    </div>
    </div>
  </header>
  <div class="bg_img">
    <div class="row">
      <div class="col-lg-2  col-md-3 p-0">
  <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-8 col-md-7 offset-lg-1 offset-md-1">
        <div class="content">
          <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </div>
</div>

      






