<div class="container">
    <div class="row mb-4 mt-3">
        <div class="col-md-12 text-left">        
            <div class="search-bar">
                <input type="text" placeholder="Search..." [(ngModel)]="searchText">
              </div>
</div>
        </div>
  

    <!-- <div class="row">
        <div class="col-md-12">
            <ng2-smart-table class="table table-striped" [settings]="settings" [source]="planList"></ng2-smart-table>
        </div>
    </div> -->

    <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                            <th>Plan Name</th>
                            <th>Plan Code</th>
                            <th>Fact Sheet</th>                           
                            <th>Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let planList of planList | grdFilter: {planName: searchText, planId:searchText} | paginate : {itemsPerPage : 10,  currentPage : p}; let i=index;">
                            <td>{{planList.planName}}</td>
                            <td>{{planList.planId}}</td>
                            <td><a (click)="viewFactSheet()">{{planList.factSheetName}}</a></td>
                            <td><i class="fa fa-trash" aria-hidden="true" (click)="delete(planList.id)"></i></td>
                        </tr>
                    </tbody>
                  
                </table>
                <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
                <!-- <app-pagination [offset]="offset" [limit]="limit" [size]="size" (pageChange)="onPageChange($event)"></app-pagination> -->
            </div>
        </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
        
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
        
  <form novalidate="" class="ng-untouched ng-pristine ng-valid">
    <div class="form-content ema-scroll-view">
        <div class="row m-0">
            <div class="container">
                <div class="col-md-12">
                  <!-- <img alt="EMA Fact Sheet" class="img-fluid" includecurrenttimestamp="" src="https://s3-ap-southeast-1.amazonaws.com/sse-documents-storage-test/media/a67bf2c3f24a42899151fcb722b3913220472830/SUNSEAP-ONE_DOT_12mths.png?t=1572836617964"> -->
                  <div class="pdf-container">
                      <pdf-viewer [src]="pdfSrc"
                                  [original-size]="false"
                      ></pdf-viewer>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </form>

        </div>
      
        
      </div>
    </div>
  </div>