<div class="nav-side-menu">


  <div class="menu-list">
   
        
          <ul class="sub-menu" id="products">
              <li [routerLinkActive]="['active']" routerLink="../admin-dash" [routerLinkActiveOptions]="{exact:
                      true}"><i class="fas fa-receipt"></i>&nbsp; My Bills (Coming Soon)</li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                          true}" routerLink="../admin-dash/view-plan"><i class="far fa-user-circle" aria-hidden="true"></i>&nbsp; My Account
              </li>
              <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:
                  true}" routerLink="../admin-dash/promo"><i class="far fa-comment" aria-hidden="true"></i>&nbsp; Support (Coming Soon)</li>
            </ul>
        
     
  </div>
</div>