<header id="header" class="">
    <div class="content-header">
        <div class="m-0">
            <a class="col-xs-10" href="https://www.sunseap.com/residential/electricity-plans/">
                <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
            </a>
        </div>
    </div>
</header>
<section class="body">
    <div class="container-fluid p-0 scroll-view">
        <div class="row p-0">
            <div class="col-md-4 p-0 left-image d-none d-md-block">
                <img src="assets/sign-up/images/background/bg-green-building.jpg" includeVersion alt="Marketing image">
            </div>
            <div class="col-md-8">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="shadow p-5 bg-white rounded mt_10">
                        <div class="row mt_10">
                            <div class="col-md-12">
                                <span class="card-font"><h2 ><strong>Hi, <span class="text-uppercase">{{userName}}</span>!</strong></h2></span>
                                <p><i>Please enter your card details to setup up your recurring credit card payment.</i></p>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-12 col-lg-8 col-sm-12 pr-0 form-group">
                                <label for="cardNumber" class="card-font"><strong>Card Number</strong><span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="cardNumber" id="cardNumber" 
                                [class.is-invalid]="cardNumber.invalid && (cardNumber.touched || form.submitted)" 
                                pattern="^(4|5|2)\d{15}|^(34|37)\d{13}$"  
                                [(ngModel)]="modal.cardNumber"  
                                #cardNumber="ngModel" required maxlength="16" 
                                blockCopyPaste numbersOnly />
                                <div *ngIf="cardNumber.invalid && (cardNumber.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="cardNumber.errors.required">
                                                <i>Card number is required</i>
                                            </div>
                                        </div>
                                <div *ngIf="cardNumber.errors?.pattern" class="invalid-feedback"><i>Enter valid card number</i></div>
                                
                            </div>
                        </div>
                        <div class="row mt-1 mb-3">
                            <div class="col-md-6 mb-3">
                                <img src="/assets/sign-up/images/icons/MasterCard.svg" height="30px" width="40px" />
                                <img src="/assets/sign-up/images/icons/VisaCard.svg" height="30px" width="40px" />
                                <img src="/assets/sign-up/images/icons/amex.jpeg" height="30px" width="40px" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-3 col-md-5 col-sm-6 col-lg-3 pr-0 text-left form-group">
                                <label for="expMonth" class="card-font"><strong>Expiry Month</strong><span class="text-danger">*</span></label>
                                <select name="expMonth" [(ngModel)]="modal.expMonth" 
                                [class.is-invalid]="!isCardValid && (expMonth.touched || form.submitted)" 
                                #expMonth="ngModel" (change)="cardValidation($event)"
                                [class.is.valid]="isCardValid" required 
                                class="form-control card-box">
                                    <!-- <option value='' ng-selected="selected">MM</option> -->
                                    <option value="{{month.monthId}}" *ngFor="let month of months">{{ month.name }}</option>
                                </select>
                                <div *ngIf="expMonth.invalid && (expMonth.touched || form.submitted)" class="invalid-feedback">
                                    <div *ngIf="expMonth?.errors.required"><i>Select month</i></div>
                                </div>

                            </div>
                            <div class="col-xl-3 col-md-5 col-sm-6 col-lg-3 pr-0 form-group text-left">
                                <label for="expYear" class="card-font"><strong>Expiry Year</strong><span class="text-danger">*</span></label>
                                <select name="expYear" [(ngModel)]="modal.expYear" 
                                [class.is-invalid]="!isCardValid && (expYear.touched || form.submitted)" 
                                [class.is.valid]="isCardValid"
                                #expYear="ngModel" (change)="cardValidation($event)" 
                                required class="form-control card-box">
                                    <!-- <option value="2019" ng-selected="selected">2019</option> -->
                                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>

                                </select>
                                <div *ngIf="expYear.invalid && (expYear.touched || form.submitted)" class="invalid-feedback">
                                    <div *ngIf="expYear?.errors.required"><i>Select year</i></div>
                                </div>
                              
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <Strong class="text-secondary"><small>Note :</small></Strong>
                            </div>
                            <div class="col-md-12">
                                <p class="text-secondary"><small><i>If your card expires in the next 3 months, it is considered as invalid.</i></small></p>
                            </div>
                        </div>
                    </div>

                    <div class="paynow">
                        <div class="row mt-3">
                            <div class="col-md-12 text-right p-0">
                                <button type="submit" class="btn btn-success card-font">Add My Card</button>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12 text-right p-0">
                                <button class="btn btn-link" type="submit" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



<!-- Model -->
    <div id="cancel" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <!-- <div class="modal-header">
                    <div class="icon-box">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </div>	          
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div> -->
                <div class="modal-body">
                    <h4 class="modal-title">Are you sure you want to cancel linkage?</h4>	
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="yes()">Yes</button>
                    <button type="button" class="btn btn-danger" (click)="no()">No</button>
                </div>
            </div>
        </div>
    </div> 

    <!-- Model -->
    <div class="modal fade success-modal" *ngIf="isCardAdded">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box-success">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>	   
               
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Card added successfully</h4>	
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" (click)="yes()">Yes</button>
                    <button type="button" class="btn btn-danger" (click)="no()">No</button>
                </div> -->
            </div>
        </div>
    </div> 


   