<header id="header" class="">
    <div class="content-header">
      <div class="m-0">    
        <a class="col-xs-10" href="https://www.sunseap.com/residential/electricity-plans/">
          <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
        </a>
    </div>
    </div>
  </header>
  <section class="body">
        <div class="container-fluid p-0 scroll-view">
    <div class="row p-0">
            <div class="col-md-4 p-0 left-image d-none d-md-block">
                    <img src="assets/sign-up/images/background/bg-green-building.jpg" includeVersion alt="Marketing image" >
            </div>                   
            <div class="col-md-8">
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="shadow mt-3 p-5 bg-white rounded">                             
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="card-font"><h2 ><strong>Hi, {{userName}}!</strong></h2></span>
                                        <p><i>Please enter your card details to link your card to your account.</i></p>
                                    </div>
                                </div>        
                                         
                                <div class="row mt-3">
                                    <div class="col-md-12 col-lg-8 col-sm-12 form-group">
                                        <label for="cardNumber" class="card-font"><strong>Card Number</strong><span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" name="cardNumber" id="cardNumber"
                                        [class.is-invalid]="cardNumber.invalid && (cardNumber.touched || form.submitted)"
                                        pattern="^(4|5)\d{15}$"
                                         [(ngModel)]="modal.cardNumber" 
                                         #cardNumber="ngModel" 
                                         required maxlength="16" 
                                         blockCopyPaste numbersOnly />
                                        <!-- <div *ngIf="cardNumber.invalid && (cardNumber.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="cardNumber.errors.required">
                                                <i>Card number is required</i>
                                            </div>
                                        </div> -->
                                        <!-- <div *ngIf="cardNumber?.errors.pattern" class="invalid-feedback"><i>Enter valid card number</i></div> -->
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-md-6">
                                        <img src="src/assets/sign-up/images/icons/MasterCard.svg" height="30px" width="40px" />
                                        <img src="src/assets/sign-up/images/icons/VisaCard.svg" height="30px" width="40px" />
                                    </div>
                                </div>
                                <!-- <div class="row mt-3">
                                    <div class="col-xl-4 col-12 col-md-6 form-group">
                                        <label for="cardHolderName" class="card-font"><strong>Cardholder Name</strong><span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" 
                                        name="cardHolderName" 
                                        [(ngModel)]="modal.cardHolderName" 
                                        [class.is-invalid]="cardHolderName.invalid && (cardHolderName.touched || form.submitted)"
                                        #cardHolderName="ngModel" 
                                        required
                                        blockCopyPaste/>
                                        <div *ngIf="cardHolderName.invalid && (cardHolderName.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="cardHolderName?.errors.required">
                                                <i>Please enter the card holder name</i>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row mt-3">
                                    <div class="col-xl-2 col-md-6 col-lg-3 pr-0 text-left form-group">
                                        <label for="expMonth" class="card-font"><strong>Expiry Month</strong><span class="text-danger">*</span></label>
                                        <select name="expMonth" 
                                        [(ngModel)]="modal.expMonth" 
                                        [class.is-invalid]="expMonth.invalid && (expMonth.touched || form.submitted)"
                                        #expMonth="ngModel" 
                                        (change)="onSelectMonth($event)"
                                        required 
                                        class="form-control box-width">
                                            <!-- <option value='' ng-selected="selected">MM</option> -->
                                            <option *ngFor="let month of months">{{ month }}</option>
                    
                                        </select>
                                        <div *ngIf="expMonth.invalid && (expMonth.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="expMonth?.errors.required"><i>Select month</i></div>
                                        </div>
                    
                                    </div>
                                    <div class="col-xl-2 col-md-6 col-lg-3 form-group text-left">
                                        <label for="expYear" class="card-font"><strong>Expiry Year</strong><span class="text-danger">*</span></label>
                                        <select name="expYear" 
                                        [(ngModel)]="modal.expYear" 
                                        [class.is-invalid]="expYear.invalid && (expYear.touched || form.submitted)"
                                        #expYear="ngModel"
                                        (change)="onSelectYear($event)"
                                        required
                                        class="form-control box-width">
                                            <!-- <option value="2019" ng-selected="selected">2019</option> -->
                                            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                    
                                        </select>
                                        <div *ngIf="expYear.invalid && (expYear.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="expYear?.errors.required"><i>Select year</i></div>
                                        </div>
                                    </div>
                                </div>
                              
                                <!-- <div class="row mt-3">
                                    <div class="col-md-12 form-group">
                                        <label for="cardHolderName" class="card-font"><strong>Security Code</strong><span class="text-danger">*</span></label>
                    
                                        <input type="text" class="form-control box-width" 
                                        name="cvvCode" 
                                        [(ngModel)]="modal.cvvCode" 
                                        [class.is-invalid]="cvvCode.invalid && (cvvCode.touched || form.submitted)"
                                        required 
                                        maxlength="3" 
                                        #cvvCode="ngModel" 
                                        blockCopyPaste numbersOnly/>
                                        <div *ngIf="cvvCode.invalid && (cvvCode.touched || form.submitted)" class="invalid-feedback">
                                            <div *ngIf="cvvCode?.errors.required"><i>Please enter CVV code</i></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <img src="src/assets/sign-up/images/icons/CC.svg" height="30px" width="40px" class="cvv" />
                                        <p> <strong>3 digits</strong> on back of your card</p>
                                    </div>
                    
                                </div> -->
                            </div>
                    
                            <div class="paynow">
                                <!-- <div class="row mt-5">
                                    <div class="col-md-12 text-right">
                                        <p class="card-font"><strong>The next screen you see may be card verification through your card issuer.</strong></p>
                                    </div>
                                </div> -->
                                <div class="row mt-3">
                    
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-success card-font">Add My Card</button>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 text-right mr-4">
                                        <a href="#" class="card-font pt-5">Cancel</a>
                                    </div>                    
                                </div>
                            </div>
                        </form>
            </div>
        </div>
</div>