.shadow {
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.25) !important;
    width: 85%;
    margin : auto;
}

.paynow{
    width: 85% !important;
    margin: auto;
}

.form-control {
    height: 40px;
    border-radius: 0;
    margin-top: 5px;
    border-radius: 5px;
}

.textVerification{
    color: gray;
    font-weight: 500;
}

addCardBtn{
background-color: #3AC76A;
padding: 12px 15px;

}



// .cvv{

//     position: absolute;
//     bottom: 10px;

// }
.mt_10{
    margin-top: 130px
}
ul{
    padding: 0;
    display: inline-flex;
}
li{
    list-style: none;
}

.row{
    margin: 0px;
}

h3 {
    font-size: calc(.75em + 1vw);
}

// .card-font{
//     font-size: calc(.5em + 1vw);
// }