<header id="header" class="col-xs-12 pt-3 pb-3">
  <div class="content-header">
      <div class="row">
          <a class="col-xs-8" href="https://www.sunseap.com/residential/electricity-plans/">
              <img src="/assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
          </a>
          <button class="btn btn-admin ml-auto pt-2 col-xs-2" (click)="home()">Home</button>
          <a class="h5 ml-1 pt-3 col-xs-2" href="https://www.sunseap.com/contact/enquiries/" target="blank">Contact</a>
      </div>
  </div>
</header>

<div class="container-fluid p-0">
  <div class="row m-0">
      <div class="col-lg-4 left-image d-none d-md-block">
          <img src="/assets/sign-up/images/background/bg-garden-building.jpg" includeVersion alt="Marketing image" onerror="this.onerror = null; this.src='/assets/sign-up/images/background/default/bg-garden-building';">
          <img src="/assets/sign-up/images/background/bg-green-building.jpg" includeVersion alt="Marketing image" onerror="this.onerror = null; this.src='/assets/sign-up/images/background/default/bg-green-building.jpg';">
      </div>

      <div class="col-lg-8">

          <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
              <div class="logindiv">

                  <div class="row">
                      <div class="form-group  col-lg-6 offset-lg-3">
                          <label class="form-control-label" for="username">Username</label>
                          <input type="text" name="username" class="form-control" [(ngModel)]="model.username" #username="ngModel" [class.is-invalid]="username.invalid && (username.touched || form.submitted)" required>
                          <div *ngIf="username.invalid && (username.touched || form.submitted)" class="invalid-feedback">
                              <div *ngIf="username?.errors.required">
                                  <i>Username is required</i>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-lg-6 offset-lg-3">
                          <label class="form-control-label" for="password">Password</label>
                          <input type="password" name="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" [class.is-invalid]="password.invalid && (password.touched || form.submitted)" required>
                          <div *ngIf="password.invalid && (password.touched || form.submitted)" class="invalid-feedback">
                              <div *ngIf="password?.errors.required">
                                  <i>Password is required</i>
                              </div>
                          </div>
                          <!-- <div *ngIf="loginMessage != ''" 
                          [ngClass]="{'green-text':loginStatus,'red-text':!loginStatus}"><i>{{loginMessage}}</i></div> -->
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <button class="btn step-next mx-auto">
                              <span>Login</span> </button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>


 




 