.forgroupinputfield {
    margin-left: 23%;
}

.logindiv{
    height: 30%;
    width: 70%;
    background-color: #f6f6f6;
    margin: auto;
    margin-top: 10%;
    padding: 1%;
    border-radius: 5px;
}

