<form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="content-document-upload">
      <div id="content-upload" class="form-content">
  
        <div class="document-upload-container">
          <ng-container *ngIf="parent.isSPAccountHolder">
             
            <div class="form-row">
              <div class="form-group col-lg-6 col-md-12 col-xs-12 mb-0 mb-lg-auto">              

                 <label class="form-control-label" for="spPastMonthBill">SP past month bill  {{form.valid}}</label>
                  <input type="text" name="spPastMonthBill" class="form-control fileUpload" 
                  [(ngModel)]="spPastMonthBill" 
                  [value]="uploaded" 
                  disabled required 
                  #spPastMonthBillError="ngModel">
                  <!-- <div class="upload-btn-remove">
                    <div *ngIf="spPastMonthBillUploaded" class="d-inline"><button type="button" class="btn" (click)="removeFile($event,1)"><i class="fa fa-times mr-2" aria-hidden="true"></i></button></div>

                  </div> -->

                  <div class="upload-btn-wrapper">
                    
                      <label class="btnUpload" for="file">Upload</label>
                      <input type="file" id="file" name="myfile"   (change)="selected($event,1)" />
                  </div>
                 

                  <div class="text-secondary"><small><i>Please upload PDF format only.</i></small>            
                  </div>
                  
                  <ng-container class="valid-feedback mt-2" *ngIf="spPastMonthBillSuccess">
                    <span style="font-style: italic; color: green; float: left">Uploaded Successfully</span>
                </ng-container>
              </div>
              <div class="form-control-label d-block d-lg-none pl-3">or</div>
              <div class="form-group col-lg-6 col-md-12 col-xs-12 mb-0 mb-lg-auto">
                <div class="connection-div d-none d-lg-block">or</div>
                <label class="form-control-label" for="newSpAccountOpeningLetter">New SP account opening letter</label>
                <input type="text" 
                name="newSpAccountOpeningLetter" 
                class="form-control fileUpload" 
                [(ngModel)]="newSpAccountOpeningLetter" 
                [value]="uploaded" 
                placeHolder="(Optional)"
                disabled required 
                #newSpAccountOpeningLetterError="ngModel">
                <div class="upload-btn-remove">
                  <div *ngIf="newSpAccountOpeningLetterUploaded" class="d-inline"><button type="button" class="btn" (click)="removeFile($event,2)"><i class="fa fa-times mr-2" aria-hidden="true"></i></button></div>
                </div>
                <div class="upload-btn-wrapper">
                    <label class="btnUpload" for="file">Upload</label>
                    <input type="file" id="file" name="myfile"  (change)="selected($event,2)" />
                </div>
                <ng-container class="valid-feedback" *ngIf="openingLetter">
                    <span style="font-style: italic; color: green; float: left">Uploaded Successfully</span>
                </ng-container>
           </div>
            </div>
          </ng-container>
  
          <ng-container *ngIf="!parent.isSPAccountHolder">
            <div class="form-row">
             
              <div class="form-group  col-md-8 offset-md-2 col-xs-12 mb-0 mb-lg-auto">
                <label class="form-control-label" for="letterOfAuthorisation">Letter of Authorisation by SP account holder</label>
                <input type="text" 
                name="letterOfAuthorisation" 
                class="form-control fileUpload" 
                [(ngModel)]="letterOfAuthorisation" 
                [value]="uploaded"                
                disabled required                
                #letterOfAuthorisationError="ngModel">
                <div class="upload-btn-remove">
                  <!-- <div *ngIf="letterOfAuthorisationUploaded" class="d-inline">
                    <button type="button" class="btn" (click)="removeFile($event,3)"><i class="fa fa-times mr-2" aria-hidden="true"></i></button>
                  </div> -->
                </div>
                
                <div class="upload-btn-wrapper">
                   
                   
                    <label class="btnUpload" for="file">Upload</label>
                    <input type="file" id="file" name="myfile1"   (change)="selected($event,3)" />
                </div>
                <div class="text-secondary"><small><i>Please upload PDF format only.  Please make sure that the SP account holder has given you the authorisation via this form.</i></small>            
                </div>
              
<!-- 
                <div class="text-secondary mr-2 font-italic mt-1">
                  <small>  Please make sure that the SP account holder has given you the authorisation via this form.</small>
                </div> -->
                  <ng-container class="valid-feedback mt-2" *ngIf="authorization">
                    <span style="font-style: italic; color: green; float: left">Uploaded Successfully</span>
                </ng-container>
              </div>
            </div>
              <div class="form-row">
              <div class="form-group col-lg-12 offset-lg-2">
                <label class="form-control-label d-none d-lg-block">&nbsp;</label>
              
                <a href="/assets/sign-up/download/Authorisation_Letter.pdf" includeVersion download>
                  <p><i>DOWNLOAD FORM</i></p>
                </a>
              </div>
            </div>    
        
          </ng-container>
        </div>
  
        <div class="d-flex justify-content-center pt-4 pb-4">
          <button class="btn step-next">
            <span>Next</span> <img src="/assets/sign-up/images/content/next.png" includeVersion>
          </button>
        </div>
      </div>
    </div>
  </form>
  