.customer-card {
    border-top: 5px solid red;
}

.gap {
    border: 50px solid rgba(180, 210, 228, 0.356);
}

.customer-card-blue {
    border-top: 5px solid rgb(16, 16, 109);
}

.background {
    background-color: rgba(180, 210, 228, 0.356);
}

.background-white {
    background-color: #ffffff;
}