<app-dots-loader *ngIf="isLoader"></app-dots-loader>
<form #form="ngForm" novalidate autocomplete="off">
  <div class="container p-5">
      
      <div class="row mt-3">
          <div class="form-group col-lg-6 offset-lg-3 col-md-6 col-sm-12">
              <label class="form-control-label" for="promoCode">Promo Code Name:</label>
              <input name="code" 
              trim="blur"
              class="form-control" 
              [class.is-invalid]="promoCode.invalid && (promoCode.touched || form.submitted)" 
              required 
              [(ngModel)]="responseData.promoCode" 
              #promoCode="ngModel" />                 
          </div>
         
      </div>
      <div class="row">
          <div class="form-group col-lg-3 offset-lg-3 col-md-3 col-sm-12">
              <label class="form-control-label" for="validFromDate">Validate From:</label>
              <br>
              <input placeholder="Date Time Range From:"
              [(ngModel)]="dateTimeRange"
              class="form-control"
              name="dateFrom"
              [selectMode]="'rangeFrom'"     
              #from="ngModel"
              hour12Timer
              [min]="min"  
              [readonly]="true"  
              required
              [class.is-invalid]="from.invalid && (from.touched || form.submitted)"      
              [owlDateTimeTrigger]="dtRange2" [owlDateTime]="dtRange2">
       <owl-date-time #dtRange2></owl-date-time>            
          </div>
          <div class="form-group col-lg-3 col-md-3 col-sm-12">
            <label class="form-control-label" for="validFromDate">Validate To:</label><br>
            <input placeholder="Date Time Range To:"
            [(ngModel)]="dateTimeRange"
            class="form-control"
            name="dateTo"
            hour12Timer
            [selectMode]="'rangeTo'" 
            #to="ngModel" 
            [readonly]="true"   
            required
            [class.is-invalid]="to.invalid && (to.touched || form.submitted)"             
            [owlDateTimeTrigger]="dtRange3" [owlDateTime]="dtRange3">
     <owl-date-time #dtRange3></owl-date-time>           
        </div>
      </div>
      <div class="row">
          <div class="form-group col-lg-6 offset-lg-3 col-md-6 col-sm-12">
              <label class="form-control-label" for="beforeGst">Number of User's:</label> 
          </div>
      </div>
      <div class="row">
        <div class="form-group col-lg-9 offset-lg-3 col-md-6 col-sm-12">
              <div class="custom-radio">
                <label clearfix>
                    <input class="custom-radio" type="radio" 
                    name="promocodeUses"
                    [value]="true"
                    [(ngModel)]="responseData.infinity"
                    #uses="ngModel"   
                    required
                    [class.is-invalid]="uses.invalid && form.submitted"
                    >
                    <span class="custom-span">No Limit</span>
                </label>
            </div>
        </div></div>
        <div class="row">
          <div class="form-group col-lg-9 offset-lg-3 col-md-6 col-sm-12">
            <div class="custom-radio">
              <label clearfix>
                  <input class="custom-radio" type="radio" 
                  name="promocodeUses"
                  [value]='false'
                  [(ngModel)]="responseData.infinity" 
                  #uses="ngModel"   
                  required
                  [class.is-invalid]="uses.invalid && form.submitted"
                    >
                  <span class="custom-span">Number of Uses</span>
                
              </label>
          </div>

          <div *ngIf="!responseData.infinity">
            <input class="form-control usesBox"           
            name="noOfLimitedUsers" numbersOnly trim="blur" 
            [(ngModel)]="responseData.noOfLimitedUsers">
          </div>
        </div>
             </div>   
        <div class="col-12 pt-4 pb-4">
        <button class="btn step-next mx-auto" type="submit"  (click)="onSubmit(form)">Add</button>  
      </div>
  </div>
</form>


  
       
           
              
                
              
                       
                           
                            
                  
              
            
        
   
  

