<div class="container-fuild">
   
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="shadow p-5 bg-white rounded">
                    <div class="row">
                            <div class="col-md-12 ">
                                <span class="card-font"><strong>Link Card To My Account</strong></span>
                            </div>
                        </div>
                   
                        <div class="row">
                            <div class="col-xl-4 col-12 col-md-6">
                                <label for="cardNumber" class="card-font"><strong>Card Number</strong><span class="text-danger">*</span></label>
                                <input type="text" 
                                class="form-control" 
                                name="cardNumber" 
                                [(ngModel)]="modal.cardNumber"
                                #cardNumber="ngModel"
                                required
                                maxlength="16"
                                blockCopyPaste />
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-6">
                            <img src="src/assets/sign-up/images/icons/MasterCard.svg" height="30px" width="40px"/>
                            <img src="src/assets/sign-up/images/icons/VisaCard.svg"  height="30px" width="40px"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-1 col-12 col-md-3 pr-0 text-left">
                                <label for="expMonth"class="card-font"><strong>Expiry Month</strong><span class="text-danger">*</span></label>
                               <select name="expMonth" 
                               [(ngModel)]="modal.expMonth" 
                                #expMonth="ngModel"
                                required
                               class="form-control box-width">
                                   <!-- <option value='' ng-selected="selected">MM</option> -->
                                   <option *ngFor="let month of months">{{ month }}</option>
                                   
                               </select>
                            </div>
                            <div class="col-xl-1 col-12 col-md-6   text-left">
                                <label for="expYear" class="card-font"><strong>Expiry Year</strong><span class="text-danger">*</span></label>
                                <select name="expYear" [(ngModel)]="modal.expYear" class="form-control box-width">
                                        <!-- <option value="MM" ng-selected="selected">YY</option> -->
                                        <option *ngFor="let year of years">{{ year }}</option>
                                        
                                    </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xl-4 col-12 col-md-6">
                                <label for="cardHolderName" class="card-font"><strong>Cardholder Name</strong><span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="cardHolderName" [(ngModel)]="modal.cardHolderName"
                                #cardHolderName="ngModel"
                                blockCopyPaste/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                            <label for="cardHolderName" class="card-font"><strong>Security Code</strong><span class="text-danger">*</span></label>

                            </div>
                                <div class="col-md-12">
                                        <input type="text" 
                                        class="form-control box-width" 
                                        name="cvvCode" 
                                        [(ngModel)]="modal.cvvCode"
                                        required
                                        maxlength="3"
                                        #cvvCode="ngModel"
                                        blockCopyPaste/>
                                    <!-- <ul>
                                        <li ><input type="text" class="form-control box-width" name="cardHolderName" [(ngModel)]="cardHolderName"></li>
                                        <li class="mt_10"><img src="src/assets/sign-up/images/icons/CC.svg" height="30px" width="40px" class="cvv ml-2"/></li>
                                        <li  class="mt_10"><p class="card-font"><strong>3 digits</strong> on back of your card</p></li>
                                    </ul> -->
                                  
                             </div>
                             <div class="col-md-12 mt-2">
                                    <img src="src/assets/sign-up/images/icons/CC.svg" height="30px" width="40px" class="cvv"/>
                                   <p> <strong>3 digits</strong> on back of your card</p>
                             </div>
                           
                               
                    </div>
                    </div>
                   
    <!-- </div> -->
    <!-- <div class="row mt-5">
            <div class="shadow p-5 bg-white rounded">
              <div class="row">
                  <div class="col-12">
                      <h3>Order Details</h3>
                  </div>
              </div>
              <div class="row mt-3">
                    <div class="col-12">
                       <p class="textVerification">Verification</p>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12 text-right">
                           <h5><strong>TOTAL SGD: $1.00</strong></h5>
                        </div>
                    </div>
                </div>
    </div> -->
    <div class="paynow">
            <div class="row mt-5">
                    <div class="col-md-12 text-right">
                        <p class="card-font"><strong>The next screen you see may be card verification through your card issuer.</strong></p>
                    </div>
                 </div>
                 <div class="row mt-3">
                       
                         <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-success card-font">Add My Card</button>
                             </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-12 text-right mr-4">
                            <a href="#" class="card-font pt-5">Cancel</a>
                        </div>
                       
                     </div>
                    
   
   
   
   
</div>
</form>
</div>
