
 <header id="header" class="col-xs-12 pt-3 pb-3" 
 style="box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 19%); border-bottom: 5px solid #ffffff;">
    <div class="col-xs-12 content-header">
      <div class="pr-0 pl-0 d-flex col-xs-12">
        <a class="col-xs-6" href="https://www.sunseap.com/residential/electricity-plans/">
          <img src="./assets/sign-up/images/logo/large-logo.png" includeVersion height="50" alt="">
        </a>
      </div>
    </div>
  </header>
  
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yantramanav:100,300&display=swap">
<style>
  
 .body{
  font-family: "Yantramanav", "Quicksand", "Kollektif", "Poppins", Helvetica, Arial, sans-serif;
 }
</style>
</head>
<body style="background: #f2f2f2;">




<div class="container wid">
  <!-- <img src="./assets/sign-up/images/content/advisory/notfound.png" alt="Snow" style="width: 102%;
  margin-left: -11px; margin-top: 100px;"> -->

  <div class="centered"><div class="row justify-content-center" style="text-align: center;">
        <div class="row">
         
            <div class="mb-lg-12">
              <br>   <br>   <br> <br>
                <p class="explanation">The page you're looking for <br>
                    can't be found.</p>
                    <br> 
            </div>
         
            </div>
      </div>
      <div class="row justify-content-center">
        <div class="row" > 
            <div class="mb-lg-12">
                <button class="btn home-btn">
                 <a href="https://www.sunseap.com/SG/" style="text-decoration: none; color: inherit;">  
                  <h6>Go to Home Page</h6>
                 </a>
                </button>
            </div>
         
            </div>
      </div>
      <div class="row justify-content-center">
        <div class="row"> 
            <div class="mb-lg-12">
              <img src="./assets/sign-up/images/content/advisory/notfound.png" alt="Snow"
               style="width: 110%;
               margin-left: -75px;">
            </div>
         
            </div>
      </div>
    </div>
</div>

</body>
</html> 
